.navbar {
  position: relative;

  display: grid;
  grid-template-columns: 315px minmax(320px, 1200px) auto;

  width: 100%;

  height: 84px;

  margin: 0 auto;

  transition: all 0.3s;
  
  border-radius: 8px;

  background: var(--white);

  &::after {
    position: absolute;

    top: 0;

    left: -100%;

    width: 200vw;

    height: 84px;

    content: "";
    
    background: var(--white);
  }
}

.links {
  z-index: 3;

  display: flex;
  align-items: center;

  margin-left: 14vw;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;

  color: var(--black);

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  &:not(:last-child) {
    margin-right: 40px;
  }

  &:hover {
    color: var(--primary);
  }

  &_active {
    color: var(--primary);
    
    font-weight: 500;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

@media (width <= 768px) {
  .navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 100px;
    
    padding: 10px;
  }

  .links {
    margin-left: 0;
  }
}