/* stylelint-disable selector-class-pattern */
.vacancies {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto minmax(320px, 1200px) auto;
  gap: 40px 30px;
  grid-template-areas: "filters vacanciesContainer vacanciesContainer";

  width: 100%;
}

.filters {
  display: grid;
  grid-area: filters;
}

.vacanciesContainer {
  grid-area: vacanciesContainer;
}

@media (width <= 768px) {
  .vacancies {
    display: grid;
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows: 330px auto;
    grid-template-areas: 
      "filters"
      "vacanciesContainer";
  
    width: 100%;
  }
}