/* stylelint-disable selector-class-pattern */
.vacancies {
  display: grid;
  grid-template-rows: 35px 1fr auto;
  grid-template-columns: auto minmax(320px, 1200px) auto;
  gap: 20px 30px;
  grid-template-areas: 
    "filters search search"
    "filters vacanciesContainer vacanciesContainer"
    "filters paginate paginate";

  width: 100%;
}

.filters {
  display: grid;
  grid-area: filters;
}

.vacanciesContainer {
  grid-area: vacanciesContainer;
}

.notFound {
  margin: 20px auto;
}

.search {
  grid-area: search;

  justify-content: center;
}

.paginate {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-area: paginate;

  width: 100%;
  max-width: 773px;
  height: 50px;
}

@media (width <= 768px) {
  .vacancies {
    display: grid;
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows: 360px 35px auto 200px;
    grid-template-areas: 
      "filters"
      "search"
      "vacanciesContainer"
      "paginate";
  
    width: 100%;
  }
}