/* stylelint-disable selector-class-pattern */
.description_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: 100%;
  max-width: 773px;
  margin-top: 20px;
  margin-bottom: 51px;
  padding: 23px;

  border: 1px solid var(--border-gray);
  border-radius: 12px;
  background: var(--white);
  gap: 20px;

  p {
    margin: 10px 0;
    
    font-weight: 500;
  }

  ul {
    padding-left: 40px;
  }
}

.vacancyRichText {
  color: var(--black);
}