/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 315px minmax(320px, 1200px) auto;
  gap: 40px 30px;
  grid-template-areas: 
    ". header header ."
    ". body body .";

  min-height: 100vh;
}

.header {
  display: grid;
  grid-area: header;
}

.body {
  grid-area: body;
}

@media (width <= 768px) {
  .wrapper {
    padding: 5px;
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows: 75px 350px 1fr;
    grid-template-areas: 
      "header"
      "body"
  }
}